.userProfile {
  padding: 10px 0;
	width: 100%;
	.tabContainer .titleInfo {
		@media(max-width:575px) {
			text-decoration: underline;
		}
	}
	.projectsList {
    margin-bottom: 20px;
	}
	.tab-content {
    padding: 0;
		.tab-pane:not(#news) {
			padding: 0 30px;
			@media (max-width: 768px) {
				padding: 0 10px;
			}
		}
	}
}