@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

.postCreate, .postUpdate {
  .inputBox {
    display: flex;
    align-items: center;
    align-self: center;
		align-content: center;
		line-height: 24px;
    .userImgContainer {
      width: 50px;height: 50px;
      margin-right: 10px;
			@media(max-width: 480px) {
				margin-right: 5px;
			}
    }
    .userImg {
      width: 50px;height: 50px;
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-color: white;
    }
  }
  .actionBar {
    display: flex;
    justify-content: space-between;
  }
}

.postCreate {
  background: white;
  border-radius: 5px;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1), 0 4px 7px 0 rgba(0,0,0,0.06), 0 1px 5px 0 rgba(0,0,0,0.2);
  .inputBox {
    padding: 20px;
		border-bottom: 1px solid color("lightgray");
		@media(max-width: 480px) {
			padding: 20px 10px;
		}
  }
  .postInputMentions * {
    border: none!important;
  }
  .actionBar {
    padding: 10px 20px 10px;
		align-items: center;
		@media(max-width: 480px) {
			padding: 10px;
		}
	}
	.preview {
		padding: 0 20px;
		.listDocuments {
			word-break: break-word;
			li {
				padding-bottom: 10px;
			}
		}
	}
}

.postUpdate {
  .actionBar {
    padding: 10px 5px 10px;
  }
}