.networkModal .modal-body {
  .projectsList, .peopleList, .CommunityList {
    margin: 0px;
  }
  .noResult{
    font-size: 1.8rem;
    font-weight: bold;
		color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
	}
	.modal-nav-tabs {
		margin-top:0px;
		justify-content: flex-start;
		border-bottom: 1px solid #dee2e6;
	}
}
