.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  
  input[type=file] {
    height: 200%;
    width: 100%;
    position: absolute;
    left: 0;
    top: -100%;
    opacity: 0;
    cursor: pointer;
  }
  input:disabled {
    cursor: default;
	}
	.btn {
		padding: 0;
	}
}

#imageRemoved {
	display: none;
}
