@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

.commentDisplay {
	.actionBox {
		padding:10px 0;
	}
	.commentList {
		padding:0;
		list-style:none;
		// max-height:400px;
		overflow:auto;
		margin-bottom: 10px;
		.showMore{
			color: theme-color("primary")!important;
			cursor: pointer;
			height: fit-content;
			position: relative;
			top:-13px;
			left:5px;
			&:hover {
				color:darken(theme-color("primary"), 15)!important
			}
		}
		.comment {
			box-shadow: none;
			margin: 0px;
			.topContent {
		    padding: 5px!important;
				margin: 6px 0;
				border-bottom: none !important;
				.comment-actions{
					padding-left: 65px;
					.comment-date {
						font-size:11.3px;
						font-weight: bold;
						color: lighten(color("gray-dark"), 30);
					}
				}
				.topBar {
					margin-bottom: 0px;
					a {
						// font-size:13px!important;
					}
					.left {
						.userImgContainer {
		          width: 40px;height: 40px;
		          margin-right: 15px;
		        }
						.userImg {
							width: 40px;
							height: 40px;
						}
						.comment-content {
							min-width: 150px;
							border: 0px;
					    border-radius: 10px;
							background: #F2F3F4;
							padding: 5px 10px 10px 10px !important;
							.comment-author {
								margin-right: 35px;
								font-size:13px;
								a {
									color: darken(color("gray-dark"), 20);
									font-weight: 500;
								}
							}
							.comment-manage {
								cursor: pointer;
							}
							.from, .from a {
								font-size:11.3px;
								font-weight: bold;
								color: lighten(color("gray-dark"), 30);
							}

							.commentTextContainer {
								position: relative;
								.text.extra {
									margin-bottom: 0px;
									margin-top:5px;
						      font-weight: 400;
									font-size: 14px;
									white-space: pre-wrap;
									line-height: 24px;
									word-break: break-word;
									a[href^='/user'], a[href^='/project'] { // style for mentions
										// background-color: rgb(212, 225, 235);
										color: theme-color("primary");
										font-size: 15px;
										padding: 3px 2px 0px;
										margin-left: -3px;	
										// font-weight: 500;
										span {
											display: none;
										}
									}
								}
								.viewMore {
									position: absolute;
									bottom: 0;
									right: 0;
									margin-bottom: 0;
									padding-left: 8px;
									color: darken(color("lightgray"), 30);
									background: #F2F3F4;
									font-size: 15px;
									cursor: pointer;
									text-transform: lowercase;
									&:hover {
										color: theme-color("primary")!important;
										text-decoration: underline;
									}
								}
								&.hideText {
									max-height: 6rem;
									overflow: hidden;
								}
							}
						}
					}
				}
			}
			&.hidden {
				display: none;
			}
		}
	}
}
