.formImg {
  font-weight: 600;
	padding: 10px 0;
	margin-bottom: 40px;
	width: 100%;
	@media(max-width:575px) {
		margin-bottom: 10px;
	}

  .preview{
    min-height: 220px;

    .banner{
      margin: 0 15px;
      border: 1px solid #ced4da;
      min-height: 220px;
      max-height: 240px;
      width: 100%;
      color: #ced4da;
    }

    .avatar, .logo{
      margin: 0 15px;
      border: 1px solid #ced4da;
      border-radius: 50%;
      box-shadow: 0 0px 20px rgba(0, 0, 0, 0.5);
      height: 80px;
      width: 80px;
    }
  }

  .btnUpload{
    min-width:80%;

  }

  .btnUploadZone{
    text-align: center;
    padding: 0 20px;
  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}