.postInputMentions {
	line-height: 24px!important;
  width: 100%;
  textarea {
    color: #212529;
    font-size: 15px!important;
  }
	.suggestionsContainer {
		&__control {
			font-size: 12px;
			font-weight: normal;
		}

		&__highlighter {
			overflow: hidden;
		}

		&__input {
			margin: 0;
		}
		&--singleLine {
			.suggestionsContainer {
				&__control {
					display: inline-block;
					width: 130px;
				}
				&__highlighter {
					padding: 1px;
					border: 2px inset transparent;
				}
				input {
					padding: 1px;
				}
			}
		}
		&--multiLine {
			.suggestionsContainer {
				&__control {
					border: 1px solid silver;
				}
				&__highlighter {
					padding: 9px;
					word-break: break-word;
					span {
						font-size: 15px;
					}
					strong { // mention style
						background-color: rgb(212, 225, 235);
						font-size: 15px;
						padding: 4px 2px 0px;
						margin-left: -3px;	
					}
				}
				&__input {
					padding: 9px;
					min-height: 30px;
					outline: none!important;
					border: none;
					line-height: 25px;
				}
			}
		}

		&__suggestions {
			&__list {
				background-color: white!important;
				border: 1px solid rgba(0,0,0,0.15);
				font-size: 10px;
				z-index: 10000;
			}
			&__item {
				padding: 5px 15px;
				// border-bottom: 1px solid rgba(0,0,0,0.15);
				font-size:17px;
				span {
					font-size:15px;
					color:color("gray-dark");
					margin-left:5px;
				}
				img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					object-fit: cover;
					margin-right: 8px;
				}
				&--focused {
					background-color: #cee4e5;
				}
			}
		}
	}
}