@import '~custom.scss';
@import '~bootstrap/scss/bootstrap.scss';

.navContainer {
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
	position: fixed;
	z-index: 10;
	background: white;
	width: 100%;
	top:0;
	&.notConnected {
		@media (min-width:992px) {
			.userMenu {
				// width: 420px;
				width: 180px;
			}
			>div, .menu {
				width:62%;
			}
		}
		@media (min-width:1200px) {
			.userMenu {
				// width: 360px;
			}
		}
		.navbar > .userMenu {
			@media (max-width:991px) {
				display: none!important; // hide nav usermenu on mobile (when not in dropdown), and when user is not connected
			}
			@media(min-width:992px) and (max-width:1068px) {
				a {
					padding: 0.5rem 8px!important;
					font-size: 15px!important;
				}
			}
		}
	}
	.nav{
	  // max-width: 1140px;
		margin: auto;
		.menu {
			@media (max-width:991px) {
				position: absolute;
				top: 18px;
				left: 137px;
			}
			@media (max-width:600px) {
				left: 110px;
			}
			@media (max-width:430px) {
				left: 95px;
			}
			span {
				cursor: pointer;
			}
		}
	  .logo{
	    width: 92px;
			height: auto;
			@media (max-width:600px) {
				width: 80px;
				padding: 4.2px 0;
			}
			@media (max-width:430px) {
				width: 70px;
				padding: 5.8px 0;
			}
		}
		.navbar-nav {
			@media (min-width: 992px) {
				display: flex;
				align-items: center;
			}
			@media(min-width: 992px) and (max-width:1100px) {
				.create {
					display: none;
				}
			}
			&.mainMenu li.nav-item > a {
				text-align: center;
			}
		}
		.textLogo {
			width: 70px;
			padding: 6px 0;
		}
		button {
			padding: 0;
		}
	  .nav-item{
			min-width: 80px;
		}
		.dropdown-menu {
			top:88%;
			padding: 0;
			.dropdown-item {
				padding: 7px 15px;
			}
			.dropdown-divider {
				margin: 0;
				&:last-child {
					border-top: none;
				}
			}
		}
		.right-content {
			i {
				padding: 0 33px 0 10px;
				width: 40px;
			}
			a {
				color:color("gray-dark");
			}
			a:hover {
				color: #212529;
			}
		}
		>div, .menu {
			@media (min-width:992px) {
				width:100%;
			}
		}
	}
	.langSelect {
		#langDropdown {
			text-transform: uppercase;
		}
		a {
		cursor: pointer;
			&.dropdown-toggle:hover {
				color: #00000080!important;
			}
		}
		.dropdown-item {
			.fas{
				display: none;
			}
			&.checked {
				color:theme-color("primary");
				.fas{
					display: inline-block!important;
				}
			}
		}
	}

	// show bootstrap on "create" element hover
	@media (min-width: 992px) {
		ul.navbar-nav li.dropdown:hover > .dropdown-menu {
			display: block;
		}
		.dropdown-menu-right {
			text-align: right;
		}
	}

	@media (max-width:991px) {
		.navbar-toggler {
			outline: none!important;
		}

		.navbar-toggler:not(:disabled):not(.disabled) {
			align-self: flex-start;
		}

		.collapsing, .collapse.show {
			background: white;
			box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.75);
			padding: 5px 11px;
			border-radius: 4px;
			min-width: 180px;
			// border-radius: 8px;
		}
		.navbar-collapse a {
			text-align: left!important;
		}
		.navbar-nav {
			li {
				border-bottom:1px solid color("lightgray");
			}
			li:last-child {
				border-bottom:none!important;
			}
			@media (max-width:991px) {
				.nav-item span{
					font-size:17px;
				}
			}
		}
	}
	@media (max-width:430px) {
		.nav-link {
			padding: 6px 10px;
		}
		.userMenu > * {
			font-size: 14px!important;
		}
	}
	.navbar-nav .userMenu { // hide usermenu from nav on desktop
		padding: 5px 0 10px;
		button {
			padding: 5px;
			a {
				color:white;
			}
		}
		@media (min-width: 992px) {
			display: none!important;
		}
	}
	.search, .userMenu {
		// dynamically hide desktop or mobile search bars
		&--desktop {
			@media (min-width:361px) and (max-width: 991px) {
				display: none;
			}
			.ais-InstantSearch__root {
				@media (max-width: 360px) {
					margin: 2px 0 4px 0;
				}
			}
		}
		&--mobile {
			@media (min-width: 992px) {
				display: none;
			}
			@media (max-width: 360px) {
				display: none;
			}
		}
	}
	// search bar START
	.ais-InstantSearch__root {
		width: 160px;
		@media(max-width:991px) {
			width: 180px;
		}
		@media(max-width:400px) {
			width: 150px;
			margin-left:20px;
		}
		form {
			border:2px solid lightgray;
			border-radius: 15px;
		}
		input {
			border:none;
			outline: none;
			padding: 2px 7px;
			border-radius: 15px;
			width: 84%;
		}
		.ais-SearchBox-reset {
			display: none;
		}
		.ais-SearchBox-submit {
			background: none;
			border: none;
			margin-right: 5px;
			&:hover {
				opacity: .6;
			}
		}
	}
	.searchResults {
		position: absolute;
		background:white;
		padding: 0px 20px 20px;
		border:1px solid lightgray;
		z-index: 10;
		@media (max-width: 991px) {
			padding: 0px 14px 14px;
			width: 173px!important;
		}
		h5 {
			padding-top:20px;
		}
		ul {
			list-style: none;
			padding-inline-start:0;
			li {
				padding:5px 0 0;
				&:hover {
					background-color: #F2F3F4;;
				}
				a {
					width:100%;
					display: block;
				}
				img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					object-fit: cover;
					margin-right: 5px;
				}
			}
		}
	}
// search bar END

}