#membersModal {
  .modal-header{
    border-bottom: none !important;
  }

  .or{
    padding: 20px;
  }

  .btnZone{
    padding-top: 20px;
    padding-bottom: 5px;
  }

  .postInputMentions {
    width: 100%;
    .suggestionsContainer {
      &__control {
        height:40px!important;
      }
      &__suggestions {
        left:0!important;
        width: fit-content;
      }
    }
  }
}
