.ProjectsPage {
	.ais-Hits-list {
	  display: grid;
	  grid-gap: 20px;
	  grid-template-columns: 1fr;
		list-style: none!important;
		padding-inline-start: 0;
		@media (min-width: 700px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: 900px) {
			grid-template-columns: 1fr;
		}
		@media (min-width: 992px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (min-width: 1290px) {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}