.searchPageAll {
	.searchMain {
		.ais-SearchBox {
			display: block!important;
			width: 100%!important;
			&-input {
				min-height:50px;
				padding-right:40px;
				@media(max-width:480px) {
					padding-left: 36px;
				}
			}
			&-submit {
				@media(max-width:480px) {
					width: 38px;
				}
				svg{
					width: 14px!important;
					height: 14px!important;
				}
			} 
		}
	}
	.Project-hits, .Community-hits, .Need-hits, .Challenge-hits {
		.ais-Hits-list {
		  display: grid;
		  grid-gap: 20px;
		  grid-template-columns: 1fr;
			list-style: none!important;
			padding-inline-start: 0;
			@media (min-width: 700px) {
				grid-template-columns: 1fr 1fr;
			}
			@media (min-width: 900px) {
				grid-template-columns: 1fr;
			}
			@media (min-width: 992px) {
				grid-template-columns: 1fr 1fr;
			}
			@media (min-width: 1290px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
		}
	}
	.User-hits {
		display: grid;
		grid-gap: 20px;
		grid-template-columns: 1fr;
		@media(max-width:1100px) {
			grid-template-columns: 1fr;
		}
		.ais-Hits {
			margin-top:0px;
		}
		.mapHits {
			width: 100%;
			height: 500px;
			.ais-GeoSearch-map {
				height: 500px;
			}
		}
	}
	.Need-hits {
		.needProject {
			display: block;
		}
		.needCard--footer, .shareBtns {
			display: none;
		}
	}
	.resultsContainer {
		width: 100%;
		margin-left:15px;
		@media (max-width: 899px) {
			margin-left:0px;
		}
	}
	.ais-RefinementList-checkbox:focus {
		outline:none
	}
	.ais-Panel.interests {
		.ais-RefinementList-list {
			display: grid;
	    grid-gap: 0 22px;
			grid-template-columns: 1fr 1fr;
			@media(max-width:889px) {
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
			}
			@media(max-width:650px) {
				grid-template-columns: 1fr 1fr 1fr 1fr;
			}
			@media(max-width:480px) {
				grid-template-columns: 1fr 1fr 1fr;
			}
			@media(max-width:400px) {
				grid-template-columns: 1fr 1fr;
			}
			.ais-RefinementList-checkbox {
				margin-right:5px;
			}
			.imgInterest{
				max-width: 60px;
				width: 100%;
				transition-duration: 0.2s;
			}
		}
		.ais-RefinementList-showMore {
			display: none;
		}
	}
	.ais-Panel[class*="program"] .ais-RefinementList-showMore{
		display: none;
	}
}
