#deleteAccountModal {
  .deleteModalMessage {
    font-weight: 600;

    .deleteModalInfo{
      font-weight: normal;
      font-size: 0.8em;
    }
  }
  .btnGroup{
    text-align: center;
    button{
      margin: 0 20px;
      min-width: 100px;
    }
  }
}