.peopleList {
	padding: 4px 25px 15px;
	box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.1), 0 3px 2px rgba(0, 0, 0, 0.1);
	@media(max-width:768px) {
		padding: 2px 15px 5px;
	}
	.listComponent {
		margin-top:10px;
		@media(max-width:768px) {
			margin-top:0;
		}
		.row>[class^="col-"]:last-child .peopleCard { // hide last separator
			border-bottom: none
		}
		// @media(min-width:992px) {
		// 	.row>[class^="col-"]:nth-last-child(2) .peopleCard { // hide last separator
		// 		border-bottom: none
		// 	}
		// }
	}
	margin-bottom: 20px!important;
}